.App {
  text-align: center;
}

/* Hover effect */
.tool {
  transform:
    rotateX(51deg)
    rotateZ(43deg);
  transform-style: preserve-3d;
  filter: drop-shadow(5px 5px 5px #222);
  transition:
    .3s ease-in-out transform,
    .3s ease-in-out filter;
}

.tool:hover {
  transform:
      translate3d(0px, -40px, 0px)
      rotateX(45deg)
      rotateZ(40deg);
    filter: drop-shadow(20px 30px 12px #222)
}

.tool2 {
  transform:
    rotateX(51deg)
    rotateZ(-20deg);
  transform-style: preserve-3d;
  filter: drop-shadow(5px 5px 5px #222);
  transition:
    .3s ease-in-out transform,
    .3s ease-in-out filter;
}

.tool2:hover {
  transform:
      translate3d(0px, -40px, 0px)
      rotateX(45deg)
      rotateZ(-15deg);
    filter: drop-shadow(20px 30px 12px #222)
}